<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center">
            <h2>Email Confirmation</h2>
            <p>Thank you for registering with our website. To complete your registration, please click the link below to
                confirm your email address:
            </p>
            <p>Your confirmation code: {{ code }}</p>
            <p>If you did not register on our website, please ignore this email.</p>
            <p>Thank you,<br>  Team
            </p>
        </td>
    </tr>
</table>
</body>
</html>
